/* Structure */

body {
	background-color: #fff;
	width: 100%;
	height: 100%;
}

.wrapper {
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.v-menu {
    width: 200px;
    position: fixed;
    top: 60px;
    left: 40px;
}

.v-menu a {
    display: block;
    width: auto;
}

.footer {
    position: fixed;
    left: 40px;
    bottom: 80px;
}

#insta a {
  background-image:url(/img/ig-colour.png);
  display:block;
  width: 20px;
  height: 20px;
  background-size: contain; 
  background-repeat:no-repeat;
  border: 5px transparent solid;
}

#insta a:hover {
    background-image:url(/img/ig-white.png);
    border: 5px black solid;
}

#content {
	position: absolute;
	left: 300px;
	top: 60px;
    width: 80%;
    margin-bottom: 60px;
}

#content img {
    max-width: 100%;
}

#contentBody {
    width: 80%;
}

#column {
    Width: 45%;
}


/* Chonks */

.chunk {
    padding: 20px 0px 20px 0px;
}

.smallChunk {
    padding: 4px 0px 4px 0px;
}

.largeChunk {
    padding: 40px 0px 40px 0px;
}

.halfChonk {
    display: flex;
    align-items: top;
}

.halfChonk > div {
    flex: 1;
    padding: 20px 24px 20px 0px;
}

.date {
    max-width: 150px;
}

/* Tables */

th {
    text-align: left;
    border-bottom: 1px black solid;
    padding-right: 24px;
    vertical-align: bottom;
    padding-bottom: 16px;
}

td {
    vertical-align: top;
    padding: 16px 16px 16px 24px;
    border-bottom: #ececec 1px solid;
}

table {
    width: 150%;
}

/* Responsive Rules */

/* Tablet */

@media only screen and (max-width: 768px) {     

    .v-menu {
        display: initial;
        left: 80px;
        top: 60px;
        position: absolute;
    }

    #content {
        position: relative;
        top: 260px;
        width: 70%;
        left: 80px;
    }
    
    #column {
        width: 100%;
    }
    
    .halfChonk {
        display: initial;
        width: 100%;
    }

    .halfChonk > div {
        padding: 20px 0px 20px 0px;
    }
    
    .footer {
        position: relative;
        top: 250px;
        margin-bottom: 40px;
        left: 80px;
    }

}

/* Mobile */

@media only screen and (max-width: 400px) {
    
    .v-menu {
        display: initial;
        left: 40px;
        top: 30px;
        position: absolute;
    }

    #content {
        position: relative;
        top: 250px;
        width: 80%;
        left: 40px;
    }
    
    #column {
        width: 100%;
    }
    
    .halfChonk {
        display: initial;
        width: 100%;
    }

    .halfChonk > div {
        padding: 20px 0px 20px 0px;
    }
    
    .footer {
        position: relative;
        top: 250px;
        margin-bottom: 40px;
        left:40px;
    }
    
    .date {
        margin-bottom: -20px;
    }
    
}
